#top {
    text-align: center;
    padding: 20px 20px 20px;
}


#states {
    text-align: center;
    padding: 10px 10px 10px;
}
body{
    background-image: url("bg.jpg");
}

.container{

}

.btn {
    box-shadow: #000 10px 20px 5px;
}

#warning {
    padding: 20px 20px 20px;
}